/*
 *  Copyright © 2008 Ian McKellar <ian@mckellar.org>
 *
 *  This file is part of Searchery.
 *
 *  Searchery is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Searchery is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Searchery.  If not, see <http://www.gnu.org/licenses/>.
 */

/*richlistitem[type ~= 'searchery'] > hbox:first-child {
  background-image: url(chrome://searchery/content/background.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
*/
/*
richlistitem[type ~= 'searchery'] > hbox {
  background-color: #cbeaff;
}

richlistitem[type ~= 'searchery'][selected="true"] > hbox {
  background-color: transparent;
}*/

#urlbar-icons > #searchery-icon {
  list-style-image: url(chrome://searchery/content/magnifier.png);
  visibility: visible !important;
}

#urlbar-icons > #searchery-icon[addengines='true'] {
  list-style-image: url(chrome://searchery/content/magnifier_zoom_in.png);
  visibility: visible !important;
}

#PopupAutoCompleteRichResult {
  -moz-binding: url(chrome://searchery/content/bindings.xml#autocomplete-rich-result-popup) !important;
}


.searchery-section-places {
  -moz-binding: url(chrome://searchery/content/bindings.xml#places-section) !important;
}

.searchery-section {
  -moz-binding: url(chrome://searchery/content/bindings.xml#section) !important;
}

.searchery-section#searchery-engines {
  -moz-binding: url(chrome://searchery/content/bindings.xml#engines-section) !important;
}
.searchery-section#searchery-google {
  -moz-binding: url(chrome://searchery/content/websearch.xml#google-section) !important;
}
.searchery-section#searchery-amazon {
  -moz-binding: url(chrome://searchery/content/websearch.xml#amazon-section) !important;
}

.searchery-section-header {
  font-weight: bold;
}
vbox[anonid="searchery-sections"] > vbox[selected="true"] {
  background-color: #cbeaff;
}
vbox[anonid="searchery-sections"] > vbox {
  background-image: url(title-gradient.png);
  background-repeat: repeat-x;
}

.searchery-section-spinner {
  width: 16px;
  height: 16px;
  list-style-image: none;
}
.searchery-section[loading="true"] .searchery-section-spinner {
  list-style-image: url(chrome://global/skin/icons/loading_16.png);
}
