richlistitem[type ~= 'as-google'] > hbox {
  background-color: #cbeaff;
  background-image: url(chrome://awesomesearch/content/background.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

richlistitem[type ~= 'as-google'][selected="true"] > hbox {
  background-color: transparent;
}
