/*
 *  Copyright © 2008 Ian McKellar <ian@mckellar.org>
 *
 *  This file is part of Searchery.
 *
 *  Searchery is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Searchery is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Searchery.  If not, see <http://www.gnu.org/licenses/>.
 */

#urlbar-icons > #searchery-icon {
  list-style-image: none;
  visibility: collapse !important;
}

#urlbar-icons > #searchery-icon[addengines='true'] {
  list-style-image: url(chrome://searchery/content/magnifier_zoom_in.png);
  visibility: visible !important;
}

#PopupAutoCompleteRichResult {
  -moz-binding: url(chrome://searchery/content/bindings.xml#autocomplete-rich-result-popup) !important;
}

searchery-section {
  display: -moz-box;
  -moz-box-orient: vertical;
  background-image: url(title-gradient.png);
  background-repeat: repeat-x;
}

searchery-section#searchery-places {
  -moz-binding: url(chrome://searchery/content/bindings.xml#places-section) !important;
}
searchery-section#searchery-engines {
  -moz-binding: url(chrome://searchery/content/bindings.xml#engines-section) !important;
}
searchery-section#searchery-google {
  -moz-binding: url(chrome://searchery/content/websearch.xml#google-section) !important;
}
searchery-section#searchery-amazon {
  -moz-binding: url(chrome://searchery/content/websearch.xml#amazon-section) !important;
}

.searchery-section-header {
  font-weight: bold;
}
searchery-section[selected="true"], searchery-section[selected="true"] richlistbox {
  background-color: #cbeaff;
}

.searchery-section-spinner {
  width: 16px;
  height: 16px;
  list-style-image: none;
}
searchery-section[loading="true"] .searchery-section-spinner {
  list-style-image: url(chrome://global/skin/icons/loading_16.png);
}

.searchery-section-configure {
  visibility: collapse;
  -moz-opacity: 0.5;
  -moz-binding: url(chrome://searchery/content/bindings.xml#configure);
  font-size: smaller;
}
.searchery-section-configure:hover {
  -moz-opacity: 1.0;
  color: blue;
  text-decoration: underline;
}
#searchery-engines .searchery-section-configure {
  visibility: visible;
}

image.searchery-disclosure-triangle {
  -moz-binding: url(chrome://searchery/content/bindings.xml#disclosure-triangle);
}
image.searchery-disclosure-triangle[state="open"] {
  list-style-image: url(disclosure-open.png)
}
image.searchery-disclosure-triangle[state="closed"] {
  list-style-image: url(disclosure-closed.png)
}
searchery-section#searchery-places .searchery-disclosure-triangle {
  display: none;
}

searchery-section[disabled="true"] richlistbox {
  display: none;
}

.searchery-hints {
  font-size: smaller;
}
