body {
  background: url(web-background.jpg) white repeat-x;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
#page {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  border-top: 1px solid black;
}
#page > #titles {
  float: right;
  text-align: right;
}
#titles > #title {
  font-size: 32px;
  margin-top: -32px;
  font-weight: bold;
}
#titles > #subtitle {
  margin-top: -5px;
  font-style: italic;
}
#content {
  margin-top: 25px;
  min-height: 400px;
}
#footer {
  font-size: small;
  margin-top: 25px;
  color: #999;
  border-top: 1px solid #999;
  text-align: center;
}
#footer a {
  color: #999;
}



#installbutton {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
  background: url(web-background.jpg);
  -moz-border-radius: 8px;
  padding: 8px;
  border: 1px solid #999;
}

#installbutton:hover {
  border-color: black;
  background: white;
}
